* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************ utilities */
.lightgrey {
  background-color: lightgrey;
  height: 95%;
}

.darksalmon {
  background-color: DarkSalmon;
}

.darkseagreen {
  background-color: DarkSeaGreen;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/************************** utilities end */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

span {
  font-size: 18px;
}

.big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 1100px;
  background: linear-gradient(to top, #DADBD3 85%, #009688 15%);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  min-width: 1100px;
  margin: auto;
}

/************** Colonna Sinistra */
.col-left {
  width: 35%;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EAEAEA;
}

.user-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.user-icon img {
  height: 60px;
  margin: 0 5px;
  border-radius: 50%;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 70px;
}

.icons i {
  font-size: 26px;
  color: #B1B1B1;
  margin-right: 20px;
}

.notifications {
  display: flex;
  flex-direction: row;
  background-color: #8ED9FC;
}

.notifi-icon {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.notifi-icon i {
  font-size: 20px;
  line-height: 26px;
  border-radius: 50%;
  padding: 15px;
  color: #8ED9FC;
  background-color: #ffffff;
}

.notifi-msg {
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.notifi-msg a {
  margin-top: 5px;
  color: #507485;
}

.notifi-icon, .notifi-msg {
  display: flex;
  height: 90px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}

.icon-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  margin: 5px auto;
  width: 98%;
  background-color: #ffffff;
  border: .5px solid #f5f5f5;
}

.icon-input i {
  margin-left: 10px;
  margin-right: 25px;
  color: #B7B9BB;
}

.icon-input input {
  /* height: 35px; */
  width: 300px;
  border: none;
  outline: none;
}

.contacts {
  height: calc(96vh - 205px);
  background-color: #ffffff;
  overflow-y: auto;
}

.contacts ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.contacts ul li {
  border: 0.5px solid #F5F5F5;
}

.contacts ul li:hover {
  background-color: #F4F5F5;
}

.contacts ul li a {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}

.contacts ul li a img {
  height: 70px;
  margin: 0 5px;
  border-radius: 50%;
}

/************** Colonna Destra */
.col-right {
  width: 65%;
  border-left: 1px solid #D6D6D6;
}

.current-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EAEAEA;
}

.info-current-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.info-current-contact img {
  height: 60px;
  margin: 0 5px;
  border-radius: 50%;
}

.info-current-contact p {
  font-size: 14px;
  color: #B1B1B1;
}

.current-chat {
  height: calc(96vh - 140px);
  background-image: url("../img/mine.jpg");
}

.current-chat {
  overflow-y: auto;
}

.current-chat-item {
  width: 80%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.current-chat-item ul {
  list-style: none;
}

.current-chat-item ul li {
  width: 40%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.current-chat-item ul li p {
  font-size: 18px;
  padding: 12px;
  padding-bottom: 26px;
}

.current-chat-item ul li span {
  font-size: 12px;
  padding: 5px;
  padding-right: 10px;
  color: lightgrey;
  float: right;
}

.sent {
  background-color: #D5F9BA;
  float: right;
  clear: both;
  word-break: break-all;
}

.received {
  background-color: #FFFFFF;
  clear: both;
  word-break: break-all;

}

.writing {
  display: flex;
  flex-direction: row;
  background-color: #F3EEE9;
}

.smile, .input-text, .audio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.smile, .audio {
  width: 70px;
}

.input-text {
  width: calc(100% - 140px);
}

.smile a i, .audio a i {
  font-size: 26px;
  color: #6A7376;
}

.input-text input {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
