* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************ test */
.lightgrey {
  background-color: lightgrey;
  height: 95%;
}

.darksalmon {
  background-color: DarkSalmon;
}

.darkseagreen{
  background-color: DarkSeaGreen;
}

/************************** test */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 1100px;
  background: linear-gradient(to top, #DADBD3 85%, #009688 15%);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  min-width: 1100px;
}

.col-left {
  width: 35%;
}

.col-right {
  width: 65%;
  border-left: 1px solid #D6D6D6;
}
